.pio/
__pycache__/
*.pyc
.kanban/
kanban.db
*.o
*.elf
**/test_erasure
nip34.json
build/
*.elf
*.bin
sdkconfig.old
# External artifact
opentollgate_security_scan.sh
firmware/esp32-c3-flrc/build/
firmware/esp32-c3-flrc/sdkconfig.old
skidl_REPL.erc
skidl_REPL.log
*_sklib.py
