CONFIG_IDF_TARGET="esp32c3"

CONFIG_ESP_SYSTEM_DEFAULT_CPU_FREQ_80=y
CONFIG_ESP_SYSTEM_DEFAULT_CPU_FREQ=80

CONFIG_FREERTOS_HZ=1000

CONFIG_SPI_MASTER_ISR_IN_IRAM=y

CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3

CONFIG_COMPILER_OPTIMIZATION_SIZE=y

CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y

CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_NETIF_TCPIP_LWIP=y

CONFIG_GS_WIFI_SSID="YOUR_SSID"
CONFIG_GS_WIFI_PASS="YOUR_PASSWORD"
CONFIG_GS_UPLINK_URL="http://localhost:8080/api/telemetry"
CONFIG_GS_ENABLE_MESH=y
CONFIG_GS_ENABLE_FIPS=y
