CONFIG_IDF_TARGET="esp32c3"

CONFIG_ESP_SYSTEM_DEFAULT_CPU_FREQ_80=y
CONFIG_ESP_SYSTEM_DEFAULT_CPU_FREQ=80

CONFIG_ESP_WIFI_ENABLED=n
CONFIG_ESP_BT_ENABLED=n

CONFIG_FREERTOS_HZ=1000

CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y

CONFIG_SPI_MASTER_ISR_IN_IRAM=y

CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3

CONFIG_COMPILER_OPTIMIZATION_SIZE=y

CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y

CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

CONFIG_ESP_SYSTEM_DEEP_SLEEP_WAKEUP_DELAY=1000

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
