CONFIG_IDF_TARGET="esp32c3"
# CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_80 is not set
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=160
# CONFIG_LOG_DEFAULT_LEVEL_NONE is not set
CONFIG_LOG_DEFAULT_LEVEL=3
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT is not set
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
# CONFIG_ESP_TASK_WDT is not set
# CONFIG_BENCH_MODE_FIFO_TX is not set
# CONFIG_BENCH_MODE_FAST_RX is not set
# CONFIG_BENCH_MODE_RAW_TX is not set
CONFIG_BENCH_MODE_RAW_RX=y
# CONFIG_BENCH_MODE_INTERACTIVE is not set
# CONFIG_BENCH_MODE_AUTONOMOUS_TX is not set
# CONFIG_BENCH_MODE_AUTONOMOUS_RX is not set
# CONFIG_BENCH_MODE_RANGE_TX is not set
# CONFIG_BENCH_MODE_RANGE_RX is not set
# CONFIG_BENCH_MODE_DUMP is not set
# CONFIG_BENCH_MODE_SPI_LOOPBACK is not set
# CONFIG_BENCH_MODE_CONTINUITY is not set
# CONFIG_BENCH_MODE_FIFO_TEST is not set
# CONFIG_BENCH_MODE_PROFILE is not set
# CONFIG_BENCH_MODE_FIPS_BRIDGE is not set
# CONFIG_BENCH_MODE_BOOTSEL_CTRL is not set
