CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESP_SYSTEM_DEFAULT_CPU_FREQ_80=y
CONFIG_ESP_SYSTEM_DEFAULT_CPU_FREQ=80
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_LOG_DEFAULT_LEVEL=0
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESP_TASK_WDT=n
CONFIG_BENCH_MODE_FIPS_BRIDGE=y
